.homeContanier {
  padding: 7rem;
}

.angularBracket {
  color: black;
}

.code {
  color: #ffa500;
}

.title {
  color: #909090;
}

.myName {
  font-size: 400%;
  color: #ffa500;
}

.descriptionContainer {
  margin-top: 1rem;
  border-left: 1px solid #909090;
  padding-left: 1rem;
}

.description {
  margin-top: 1rem;
  padding-top: 1rem;
}

.githubBtn {
  margin-right: 2rem;
}

.heading {
  color: #909090;
}

.fontBold {
  font-weight: bold;
}
